<h2>Sign Up</h2>

<%= form_with model: @user do |f| %>

    <%= f.label :first_name %> <br>
    <%= f.text_field :first_name %> <br><br>

    <%= f.label :last_name %> <br>
    <%= f.text_field :last_name %> <br><br>

    <%= f.label :role %> <br>
    <%= f.select :role, ["Supervisor", "Lead", "Project Manager", "Employee"], include_blank: true %> <br><br>

    <%= f.label :email %> <br>
    <%= f.email_field :email %> <br><br>

    <%= f.label :password %>
    <%= f.password_field :password %> <br><br>

    <%= f.submit %>
<% end %>

<br><br>
<%= button_to "Log in with Google", "/auth/google_oauth2"%>